{% extends 'base.html.twig' %}

{% import 'Macros/buttons.html.twig' as buttons %}
{% from 'Macros/actions.html.twig' import create %}

{% block title %}Cadastrar Pessoas{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <div class="float-right">
            {{ buttons.show(path('index'), 'Voltar') }}
        </div>
        <br />
        <div class="form-container">
            <h1 class="text-center mb-4">Cadastro de Pessoa</h1>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.capacity) }}
                {{ create() }}
                {{ form_end(form) }}
            </form>
        </div>
    </div>
{% endblock %}
