{% macro list(entities) %}

{% import 'Macros/buttons.html.twig' as buttons %}
{% import 'Macros/alerts.html.twig' as alerts %}

{% if entities|length > 0 %}
    <div class="table-responsive">
        <table class="table table-hover table-bordered selectable">
            <thead>
                <tr>
                    <th style="width: 40%;">Nome</th>
                    <th style="width: 40%;">Sobrenome</th>
                    <th style="width: 20%;"></th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        {{ entity.name }}
                    </td>
                    <td>
                        {{ entity.lastName }}
                    </td>

                    <td colspan="1">
                        <div class="float-right">
                            {{ buttons.delete(path('people_delete', {'id': entity.id})) }}
                        </div>
                        <div class="float-right" style="margin-right: 15px;">
                            {{ buttons.edit(path('people_update', {'id': entity.id})) }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    {{ alerts.info('Nenhum resultado encontrado.'|trans) }}
{% endif %}

{% endmacro %}
