{% extends 'base.html.twig' %}

{% import 'Macros/alerts.html.twig' as alerts %}
{% import 'Macros/buttons.html.twig' as buttons %}
{% from 'general/macros.html.twig' import javascriptFind %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        #list-group {
            max-height: 200px;
            overflow-y: auto;
            border: 1px solid #ccc;
            border-radius: 0.375rem;
        }

        .item {
            padding: 10px;
            cursor: pointer;
        }

        .item:hover {
            background-color: #f8f9fa;
        }

        .btn-select {
            background-color: #28a745;
            color: white;
        }
    </style>
{% endblock %}

{% block body %}
    <br>
    <div id="alert-ajax"></div>

    <script>
        var arrEntity = {{ entities|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw  }};
    </script>

    <div class="container">
        <br>
        <h1>{{ title }}</h1>
        <div class="float-right">
            {{ buttons.show(path('index'), 'Voltar') }}
        </div>
        <br />
        <div style="margin-top: 30px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 entitySelect1">
                        <input type="text" class="form-control" id="input-entity" placeholder="{{ placeholder }}">
                        <div id="results-entity" class="list-group mt-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ javascriptFind(field) }}
{% endblock %}
